# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Delegate DZ.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\dubar\Delegate DZ\.idea\.idea.Delegate DZ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
